body {
    box-sizing: border-box;
    margin: 0;
    background-color: aliceblue;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
.sub-title {
    max-width: 630px;
    width: 80%;
    text-align: center;
}
.diceContainer {
    display: grid;
    gap: 1em;
    grid-template-areas:
        ". . . . ."
        ". . . . .";
    text-align: center;
    justify-content: center;
    margin-top: 3em;
}
.dice {
    width: 3em;
    height: 3em;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0;
    background-color: white;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.held {
    background-color: aquamarine;
}
.roll {
    margin-top: 3em;
    padding: 1em 2.5em;
    background-color: dodgerblue;
    border: 0;
    border-radius: 10px;
}
@media screen and (min-width: 688px) {
    .dice {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1000px) {
    .dice {
        font-size: 2rem;
    }
}
